##내장 함수와 표준 라이브러리

###내장 함수

print(), del()이 파이썬에 내장되어있는 내장함수이다

##type()

In [1]:
int_value = 42
str_value = '42'
print("int_value는 : ", type(int_value))
print("str_value는 : ", type(str_value))

int_value는 :  <class 'int'>
str_value는 :  <class 'str'>

42와 "42"는 각각 int(정수형)와 str(문자열)로 타입이 다르다. 이렇게 타입을 확인할 때 사용하는 내장함수

##max, min

In [2]:
prices = [1000, 2000, 5000, 10000]
print("가장 큰 값은 : ", max(prices))
print("가장 작은 값은 : ", min(prices))

가장 큰 값은 :  10000
가장 작은 값은 :  1000

## enumerate

리스트나 튜플 등에서 각 요소에 인덱스와 값을 포함하는 객체로 생성할 수 있다.

각 요소 뿐만 아니라 인덱스도 필요한 상황에서 사용하는 함수이다.

In [ ]:
enumerater(리스트 or 튜플 등, start = 0)

기존 for문을 사용하듯 사용할 수 있다.

단순 for문에서 product의 각 요솟값만 가져왔다면, 이번에는 인덱스 값까지 가져오는 것이 enumerate이다.

In [3]:
products = ['콜라', '사이다', '과자']
for product in enumerate(products, start = 1):
    print(product)

(1, '콜라')
(2, '사이다')
(3, '과자')

In [5]:
products = ['콜라', '사이다', '과자']
for idx, product in enumerate(products, start = 1):
    print(f"순서 {idx}: {product}")

순서 1: 콜라
순서 2: 사이다
순서 3: 과자

위와 같이 enumerate는 for 인덱스, 요소 in enumerate 형태로 많이 사용하며, \

인덱스와 요소를 한꺼번에 처리할 수 있다는 장점이 있다.

##sorted

리스트나 튜플, 딕셔너리 등을 key 값을 기준으로 정렬할 수 있다.

이때 key값을 어떻게 설정하느냐에 따라 정렬이 달라질 수 있으므로 원하는 형식에 맞춰 코드를 작성해야 한다.

In [ ]:
sorted(iterable, key=None, reverse = False)

products 리스트에 튜플 형태로 되어 있는 데이터를 저장해 두었다.

만약 숫자를 기준으로 정렬하려면 key에 x[0]를 기준으로 정렬하면 된다.

물건 목록을 기준으로 정렬하려면 x[1]을 기준으로 정렬할 수 있다.

In [6]:
products = [(2, "콜라"), (3, "사이다"), (1, "과자")]
sorted_prd_0 = sorted(products, key = lambda x: x[0])
sorted_prd_1 = sorted(products, key = lambda x: x[1])
print(sorted_prd_0)
print(sorted_prd_1)

[(1, '과자'), (2, '콜라'), (3, '사이다')]
[(1, '과자'), (3, '사이다'), (2, '콜라')]

sorted_prd_0은 튜플이 첫 번째 값을 기준으로 정렬한 결과이므로 1, 2, 3의 순서로 정렬되었다.

sorted_prd_1은 두 번째 값을 기준으로 정렬한 결과로 두 번째 문자열 기준으로 과자, 사이다, 콜라 순서로 정렬되었다.

이렇게 기본 정렬뿐만 아니라 여러 개의 값을 가지고 있는 리스트를 정렬하고자 할 때 sorted를 사용할 수 있다.

## map

헤이마트의 물건 가격을 전체적으로 10% 인상해야 하는 상황에 놓였을 때와 같이 리스트의 전체 요소들을 한꺼번에 적용해야 하는 경우가 있다.

이때 for문을 이용해 새로운 리스트를 만든 후 각 요소를 변환시키고 다시 append하여 완성했다.

하지만 map 함수를 사용해 전체 가격을 쉽게 업데이트할 수 있다.

In [ ]:
map(function, iterable, ...)

예를 들어 원래 가격표가 1600, 1600, 1500원인 명단이 있다.

이 가격들을 for문을 이용한 방법과 map 함수를 이용한 방법으로 10% 인상한 가격 리스트로 업데이트해 보고 그 차이를 비교해본다.

In [7]:
prices = [1600, 1600, 1500]
#for 문을 이용한 방법
prices_up_for = []
for price in prices:
    new_price = int(price * 1.1) #10퍼센트 상승이므로, 1.1 곱하기
    prices_up_for.append(new_price)

#map 함수를 이용한 방법
prices_up_map = list(map(lambda x: int(x*1.1), prices)) # 10퍼센트 상승이므로, 1.1 곱하기
print(prices_up_for)
print(prices_up_map)

[1760, 1760, 1650]
[1760, 1760, 1650]

map 함수를 이용하면 for문을 이용해 하나씩 반환해서 넣어야 하는 것을 쉽게 일괄 처리할 수 있다.

이 밖에 파이썬의 판다스와 같은 데이터 프레임에도 많이 쓰이는 함수이다.

이 밖에 다른 내장 함수들은 파이썬 기본 문서를 참고한다.

https://docs.python.org/ko/3/library/functions.html